<% set_meta_tags title: "關於我們", reverse: true, canonical: about_url %>

<h1 class="text-center mb-5">關於我們</h1>
<h2 class="mt-3 mb-3"><%= 服務名稱 %></h2>
<p><%= 服務名稱 %>是由<%= 公司名稱 %>所開發。<%= meta_description %></p>

<h2 class="mt-3 mb-3"><%= 公司名稱 %></h2>
<p><%= 公司簡介 %>。我們的專業開發團隊致力於提供最高品質的產品和服務，並持續進行創新，以滿足用戶的需求。如果您有任何開發需求或合作建議，歡迎在這裡聯絡。</p>

<h2 class="mt-3 mb-3"><%= 作者名稱 %></h2>
<p><%= 作者簡介 %></p>

<!-- Contact Us Section -->
<h2 class="mt-3 mb-3">與我們聯絡</h2>
<div>
  <%= form_with url: '/contact_request', method: :post, local: true do |form| %>
    <div class="mb-3">
      <%= form.label :nickname, "暱稱", class: "form-label" %>
      <%= form.text_field :nickname, class: "form-control", placeholder: "該怎麼稱呼您呢？", required: true %>
    </div>
    <div class="mb-3">
      <%= form.label :email, "Email", class: "form-label" %>
      <%= form.email_field :email, class: "form-control", placeholder: "你的電子信箱？", required: true %>
    </div>
    <div class="mb-3">
      <%= form.label :message, "想跟站長說什麼呢？", class: "form-label" %>
      <%= form.text_area :message, class: "form-control", rows: "4", placeholder: "您的留言我們都會在２４小時內回覆", required: true %>
    </div>
    <%= form.submit "送出", class: "btn btn-primary" %>
  <% end %>
</div>
