<% set_meta_tags title: "免責聲明與使用條款", reverse: true, canonical: terms_url %>

<h1 class="text-center mb-5">免責聲明與使用條款</h1>
<h2 class="mt-3 mb-3">使用條款接受</h2>
<p>通過訪問和/或使用<%= 服務名稱 %>，您明確同意並遵守以下所述的條款和條件。</p>
<h2 class="mt-3 mb-3">服務準確性</h2>
<p><%= 服務名稱 %>努力確保提供的服務資訊準確和最新，但不保證其完整性、時效性或準確性。本服務按“原樣”提供，無任何明示或暗示的保證。</p>
<h2 class="mt-3 mb-3">用戶提供的內容</h2>
<p>用戶在<%= 服務名稱 %>平台上提交的所有內容，用戶應確保自己擁有該內容的所有必要的智慧財產權或已得到合法授權。當用戶將內容提交到<%= 服務名稱 %>平台時，即表示用戶授予<%= 服務名稱 %>非專屬、全球性、免版稅的權利和許可，以使用、複製、修改、展示和分發該內容，並在必要時為提供和改進服務而使用該內容。</p>
<p>若有任何第三方提出內容侵權的申訴，請及時通知我們。我們在接到申訴並確認侵權情況後，將採取相應措施，包括但不限於刪除該內容。</p>
<h2 class="mt-3 mb-3">智慧財產權</h2>
<p>除非特別指出，服務中的所有內容、商標、服務標記或其他材料均受到著作權、商標權及其他智慧財產權的保護，並且是<%= 服務名稱 %>或其授權人的財產。未經<%= 服務名稱 %>的明確書面授權，不得以任何方式使用這些材料。</p>
<h2 class="mt-3 mb-3">第三方鏈接</h2>
<p><%= 服務名稱 %>可能提供指向第三方網站或資源的鏈接。這些鏈接只是為了方便，並不代表我們支持或對這些第三方網站的內容負責。</p>
<h2 class="mt-3 mb-3">免責聲明</h2>
<p>使用我們的服務風險自負。<%= 服務名稱 %>對於因使用或無法使用本服務而造成的任何直接、間接、附帶、特殊、後果性或懲罰性的損害，不承擔任何責任。</p>
<h2 class="mt-3 mb-3">條款變更</h2>
<p>我們可能會不時更新此免責聲明與使用條款。當我們進行重大更改時，我們將通知您。</p>
<h2 class="mt-3 mb-3">聯絡方式</h2>
<p>如對本免責聲明與使用條款有任何疑問或需要進一步的信息，請通過指定的聯絡方式與我們取得聯絡。</p>
